.background-gradient {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  z-index: -1;
  background: radial-gradient(circle at 100% 100%,  rgb(47, 47, 118) 10%, rgb(33, 33, 58) 50%);
  background-repeat: no-repeat;
  background-position: right top;
}

.hero-title {
  font-size: 54px;
  background-image: linear-gradient(10deg,#9259d4 0%, #2f3792 80%);
  background-size: cover;
  background-attachment: scroll;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-paragraph {
  color: #cbd6ec;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
